# Project - Data Cleaning

## Introduction
In this lab, we'll make use of everything we've learned about pandas, data cleaning, and exploratory data analysis. In order to complete this lab, you'll have to import, clean, combine, reshape, and visualize data to answer questions provided, as well as your own questions!

## Objectives
You will be able to:
- Use different types of joins to merge DataFrames 
- Identify missing values in a dataframe using built-in methods 
- Evaluate and execute the best strategy for dealing with missing, duplicate, and erroneous values for a given dataset 
- Inspect data for duplicates or extraneous values and remove them 


## The dataset
In this lab, we'll work with the comprehensive [Super Heroes Dataset](https://www.kaggle.com/claudiodavi/superhero-set/data), which can be found on Kaggle!


## Getting Started

In the cell below:

* Import and alias pandas as `pd`
* Import and alias numpy as `np`
* Import and alias seaborn as `sns`
* Import and alias matplotlib.pyplot as `plt`
* Set matplotlib visualizations to display inline in the notebook

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

For this lab, our dataset is split among two different sources -- `'heroes_information.csv'` and `'super_hero_powers.csv'`.

Use pandas to read in each file and store them in DataFrames in the appropriate variables below. Then, display the `.head()` of each to ensure that everything loaded correctly.

In [2]:
heroes_df = pd.read_csv('heroes_information.csv')
powers_df = pd.read_csv('super_hero_powers.csv')

In [3]:
display(heroes_df.head())
display(powers_df.head())

,Unnamed: 0,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0

,hero_names,Agility,Accelerated Healing,Lantern Power Ring,Dimensional Awareness,Cold Resistance,Durability,Stealth,Energy Absorption,Flight,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
0,3-D Man,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,True,True,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Abin Sur,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Abomination,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

It looks as if the heroes information dataset contained an index column.  We did not specify that this dataset contained an index column, because we hadn't seen it yet. Pandas does not know how to tell apart an index column from any other data, so it stored it with the column name `Unnamed: 0`.  

Our DataFrame provided row indices by default, so this column is not needed.  Drop it from the DataFrame in place in the cell below, and then display the head of `heroes_df` to ensure that it worked properly.

In [4]:
heroes_df.drop(columns='Unnamed: 0', inplace=True)

In [5]:
display(heroes_df.head())

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0

## Familiarize yourself with the dataset

The first step in our Exploratory Data Analysis will be to get familiar with the data.  This step includes:

* Understanding the dimensionality of your dataset
* Investigating what type of data it contains, and the data types used to store it
* Discovering how missing values are encoded, and how many there are
* Getting a feel for what information it does and doesn't contain

In the cell below, get the descriptive statistics of each DataFrame.

In [6]:
# Understanding the dimensionality of your dataset
display(heroes_df.shape)
display(powers_df.shape)

(734, 10)

(667, 168)

In [7]:
def summarize(df):
    display(df.head(3))
    display(df.shape)
    display(df.describe().T)
    display(df.dtypes)
    return df.columns.tolist()

In [8]:
heroes_columns = summarize(heroes_df)

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0

(734, 10)

        count        mean         std   min   25%    50%    75%    max
Height  734.0  102.254087  139.624543 -99.0 -99.0  175.0  185.0  975.0
Weight  732.0   43.855191  130.823733 -99.0 -99.0   62.0   90.0  900.0

name           object
Gender         object
Eye color      object
Race           object
Hair color     object
Height        float64
Publisher      object
Skin color     object
Alignment      object
Weight        float64
dtype: object

In [9]:
powers_columns = summarize(powers_df)

,hero_names,Agility,Accelerated Healing,Lantern Power Ring,Dimensional Awareness,Cold Resistance,Durability,Stealth,Energy Absorption,Flight,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
0,3-D Man,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,True,True,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False

(667, 168)

                      count unique    top freq
hero_names              667    667   Husk    1
Agility                 667      2  False  425
Accelerated Healing     667      2  False  489
Lantern Power Ring      667      2  False  656
Dimensional Awareness   667      2  False  642
...                     ...    ...    ...  ...
Phoenix Force           667      2  False  666
Molecular Dissipation   667      2  False  666
Vision - Cryo           667      2  False  665
Omnipresent             667      2  False  665
Omniscient              667      2  False  665

[168 rows x 4 columns]

hero_names               object
Agility                    bool
Accelerated Healing        bool
Lantern Power Ring         bool
Dimensional Awareness      bool
                          ...
Phoenix Force              bool
Molecular Dissipation      bool
Vision - Cryo              bool
Omnipresent                bool
Omniscient                 bool
Length: 168, dtype: object

In [12]:
heroes_df.rename(columns=lambda x: x.lower().replace(' ', '_'), inplace=True)

In [13]:
heroes_df.head(1)

,name,gender,eye_color,race,hair_color,height,publisher,skin_color,alignment,weight
0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0

In [14]:
# heroes_df[  (heroes_df['gender'] == '-')
#           | (heroes_df['eye_color'] == '-')
#           | (heroes_df['race'] == '-')
#           | (heroes_df['hair_color'] == '-')
#           | (heroes_df['skin_color'] == '-')
#           | (heroes_df['alignment'] == '-')]

In [15]:
# value_counts_of_each_row(powers_df)

In [19]:
powers_df.dtypes.value_counts()

bool      167
object      1
dtype: int64

## Dealing with missing values

Starting in the cell below, detect and deal with any missing values in either DataFrame. Then, explain your methodology for detecting and dealing with outliers in the markdown section below. Be sure to explain your strategy for dealing with missing values in numeric columns, as well as your strategy for dealing with missing values in non-numeric columns.  

Note that if you need to add more cells to write code in, you can do this by:

**1.** Highlighting a cell and then pressing `ESC` to enter command mode.  
**2.** Press `A` to add a cell above the highlighted cell, or `B` to add a cell below the highlighted cell. 

Describe your strategy below this line:
____________________________________________________________________________________________________________________________

1. Convert placeholders to nan
2. Look

In [20]:
def value_counts_of_each_row(df):
    for col in df.columns:
        display(col)
        display(df[col].value_counts(normalize=True, dropna=False))
        print('\n\n')

In [21]:
value_counts_of_each_row(heroes_df)

'name'

Goliath           0.004087
Spider-Man        0.004087
Blue Beetle       0.002725
Blizzard          0.002725
Atom              0.002725
                    ...
Angel Dust        0.001362
Nightcrawler      0.001362
Agent Zero        0.001362
Mandarin          0.001362
Rocket Raccoon    0.001362
Name: name, Length: 715, dtype: float64

'gender'

Male      0.688011
Female    0.272480
-         0.039510
Name: gender, dtype: float64

'eye_color'

blue                       0.306540
-                          0.234332
brown                      0.171662
green                      0.099455
red                        0.062670
black                      0.031335
yellow                     0.025886
white                      0.023161
hazel                      0.008174
grey                       0.008174
purple                     0.005450
gold                       0.004087
violet                     0.002725
yellow (without irises)    0.002725
amber                      0.002725
blue / white               0.001362
silver                     0.001362
yellow / blue              0.001362
white / red                0.001362
green / blue               0.001362
yellow / red               0.001362
bown                       0.001362
indigo                     0.001362
Name: eye_color, dtype: float64

'race'

-                     0.414169
Human                 0.283379
Mutant                0.085831
God / Eternal         0.019074
Cyborg                0.014986
                        ...
Luphomoid             0.001362
Dathomirian Zabrak    0.001362
Clone                 0.001362
Ungaran               0.001362
Korugaran             0.001362
Name: race, Length: 62, dtype: float64

'hair_color'

-                   0.234332
Black               0.215259
Blond               0.134877
Brown               0.117166
No Hair             0.102180
Red                 0.069482
White               0.031335
Auburn              0.017711
Green               0.010899
Strawberry Blond    0.009537
Purple              0.006812
Grey                0.006812
Silver              0.005450
Brown / White       0.005450
blond               0.004087
black               0.004087
Blue                0.004087
Orange              0.002725
Yellow              0.002725
Orange / White      0.001362
Red / Orange        0.001362
Red / Grey          0.001362
Red / White         0.001362
Brownn              0.001362
Pink                0.001362
Black / Blue        0.001362
Gold                0.001362
Magenta             0.001362
Brown / Black       0.001362
Indigo              0.001362
Name: hair_color, dtype: float64

'height'

-99.0     0.295640
 183.0    0.080381
 188.0    0.069482
 178.0    0.053134
 180.0    0.051771
 185.0    0.047684
 175.0    0.046322
 168.0    0.039510
 170.0    0.035422
 165.0    0.035422
 191.0    0.028610
 193.0    0.028610
 198.0    0.024523
 173.0    0.023161
 201.0    0.014986
 196.0    0.014986
 163.0    0.010899
 213.0    0.009537
 203.0    0.006812
 211.0    0.006812
 157.0    0.006812
 244.0    0.005450
 229.0    0.004087
 155.0    0.004087
 218.0    0.004087
 226.0    0.004087
 122.0    0.002725
 206.0    0.002725
 279.0    0.002725
 366.0    0.002725
 137.0    0.002725
 30.5     0.002725
 305.0    0.002725
 61.0     0.001362
 975.0    0.001362
 142.0    0.001362
 287.0    0.001362
 267.0    0.001362
 304.8    0.001362
 701.0    0.001362
 876.0    0.001362
 259.0    0.001362
 15.2     0.001362
 297.0    0.001362
 257.0    0.001362
 62.5     0.001362
 66.0     0.001362
 160.0    0.001362
 140.0    0.001362
 234.0    0.001362
 71.0     0.001362
 79.0     0.001362
 108.0    0.001362
 64.0     0.001362
Name: height, dtype: float64

'publisher'

Marvel Comics        0.528610
DC Comics            0.292916
NBC - Heroes         0.025886
Dark Horse Comics    0.024523
NaN                  0.020436
George Lucas         0.019074
Image Comics         0.019074
Star Trek            0.008174
HarperCollins        0.008174
Team Epic TV         0.006812
SyFy                 0.006812
ABC Studios          0.005450
Shueisha             0.005450
Icon Comics          0.005450
IDW Publishing       0.005450
Wildstorm            0.004087
Sony Pictures        0.002725
Hanna-Barbera        0.001362
Microsoft            0.001362
J. R. R. Tolkien     0.001362
South Park           0.001362
Universal Studios    0.001362
Titan Books          0.001362
Rebellion            0.001362
J. K. Rowling        0.001362
Name: publisher, dtype: float64

'skin_color'

-                 0.901907
green             0.028610
blue              0.012262
red               0.012262
white             0.009537
grey              0.006812
silver            0.006812
purple            0.004087
gold              0.004087
pink              0.002725
yellow            0.002725
red / black       0.001362
black             0.001362
orange / white    0.001362
blue-white        0.001362
orange            0.001362
gray              0.001362
Name: skin_color, dtype: float64

'alignment'

good       0.675749
bad        0.282016
neutral    0.032698
-          0.009537
Name: alignment, dtype: float64

'weight'

-99.0     0.322888
 54.0     0.031335
 79.0     0.031335
 81.0     0.029973
 90.0     0.025886
            ...
 198.0    0.001362
 76.0     0.001362
 82.0     0.001362
 105.0    0.001362
 14.0     0.001362
Name: weight, Length: 136, dtype: float64

In [23]:
heroes_df['gender']

0        Male
1        Male
2        Male
3        Male
4        Male
        ...
729    Female
730      Male
731      Male
732    Female
733      Male
Name: gender, Length: 734, dtype: object

In [ ]:
# heroes_df_nans = heroes_df.replace('-', np.nan)

In [ ]:
# heroes_df_nans = heroes_df_nans.replace(-99, np.nan)

In [ ]:
# value_counts_of_each_row(heroes_df_nans)

In [ ]:
# for col in heroes_df_nans.columns:
#     display(heroes_df_nans[col].value_counts(normalize=True, dropna=False))

## Joining, Grouping, and Aggregating

In the cell below, join the two DataFrames.  Think about which sort of join you should use, as well as which columns you should join on.  Rename columns and manipulate as needed.  

**_HINT:_** Consider the possibility that the columns you choose to join on contain duplicate entries. If that is the case, devise a strategy to deal with the duplicates.

**_HINT:_** If the join throws an error message, consider setting the column you want to join on as the index for each DataFrame.

In the cell below, subset male and female heroes into different dataframes.  Create a scatterplot of the height and weight of each hero, with weight as the y-axis.  Plot both the male and female heroes subset into each dataframe, and make the color for each point in the scatterplot correspond to the gender of the superhero.

## Some Initial Investigation

Next, slice the DataFrame as needed and visualize the distribution of heights and weights by gender.  You should have 4 total plots.  

In the cell below:

* Slice the DataFrame into separate DataFrames by gender
* Complete the `show_distplot()` function.  This helper function should take in a DataFrame, a string containing the gender we want to visualize, and the column name we want to visualize by gender. The function should display a distplot visualization from seaborn of the column/gender combination.  

Hint: Don't forget to check the [seaborn documentation for distplot](https://seaborn.pydata.org/generated/seaborn.distplot.html) if you have questions about how to use it correctly!

In [ ]:
male_heroes_df = None
female_heroes_df = None

def show_distplot(dataframe, gender, column_name):
    pass

In [ ]:
# Male Height

In [ ]:
# Male Weight

In [ ]:
# Female Height

In [ ]:
# Female Weight

Discuss your findings from the plots above, with respect to the distribution of height and weight by gender.  Your explanation should include a discussion of any relevant summary statistics, including mean, median, mode, and the overall shape of each distribution.  

Write your answer below this line:
____________________________________________________________________________________________________________________________

### Sample Question: Most Common Powers

The rest of this notebook will be left to you to investigate the dataset by formulating your own questions, and then seeking answers using pandas and numpy.  Every answer should include some sort of visualization, when appropriate. Before moving on to formulating your own questions, use the dataset to answer the following questions about superhero powers:

* What are the 5 most common powers overall?
* What are the 5 most common powers in the Marvel Universe?
* What are the 5 most common powers in the DC Universe?

Analyze the results you found above to answer the following question:

How do the top 5 powers in the Marvel and DC universes compare?  Are they similar, or are there significant differences? How do they compare to the overall trends in the entire Superheroes dataset?

Write your answer below this line:
____________________________________________________________________________________________________________________________


### Your Own Investigation

For the remainder of this lab, you'll be focusing on coming up with and answering your own question, just like we did above.  Your question should not be overly simple, and should require both descriptive statistics and data visualization to answer.  In case you're unsure of what questions to ask, some sample questions have been provided below.

Pick one of the following questions to investigate and answer, or come up with one of your own!

* Which powers have the highest chance of co-occurring in a hero (e.g. super strength and flight), and does this differ by gender?
* Is there a relationship between a hero's height and weight and their powerset?
* What is the distribution of skin colors amongst alien heroes?

Explain your question below this line:
____________________________________________________________________________________________________________________________



Some sample cells have been provided to give you room to work. If you need to create more cells, you can do this easily by:

1. Highlighting a cell and then pressing `esc` to enter command mode.
1. Pressing `b` to add a cell below the currently highlighted cell, or `a` to add one above it.  

Be sure to include thoughtful, well-labeled visualizations to back up your analysis!

## Summary

In this lab, we demonstrated our mastery of:
* Using all of our Pandas knowledge to date to clean the dataset and deal with null values
* Using Queries and aggregations to group the data into interesting subsets as needed
* Using descriptive statistics and data visualization to find answers to questions we may have about the data