# Importing Data Using Pandas - Lab

## Introduction

In this lab, you'll get some practice with loading files with summary or metadata, and if you find that easy, the optional "level up" content covers loading data from a corrupted csv file!

## Objectives
You will be able to:

- Use pandas to import data from a CSV and and an Excel spreadsheet  

##  Loading Files with Summary or Meta Data

Load either of the files `'Zipcode_Demos.csv'` or `'Zipcode_Demos.xlsx'`. What's going on with this dataset? Clean it up into a useable format and describe the nuances of how the data is currently formatted.

All data files are stored in a folder titled `'Data'`.

In [1]:
# Import pandas using the standard alias
import pandas as pd

In [36]:
# Import the file and print the first 5 rows
df_raw = pd.read_csv('Data/Zipcode_Demos.csv')
df_raw.head()

,0,Average Statistics,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
0,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,JURISDICTION NAME,10005.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,COUNT PARTICIPANTS,9.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,COUNT FEMALE,4.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,PERCENT FEMALE,0.404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
# Print the last 5 rows of df
df.info(verbose=True)
# df.tail(11)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 47 columns):
0                     57 non-null int64
Average Statistics    56 non-null object
Unnamed: 2            57 non-null object
Unnamed: 3            11 non-null object
Unnamed: 4            11 non-null object
Unnamed: 5            11 non-null object
Unnamed: 6            11 non-null object
Unnamed: 7            11 non-null object
Unnamed: 8            11 non-null object
Unnamed: 9            11 non-null object
Unnamed: 10           11 non-null object
Unnamed: 11           11 non-null object
Unnamed: 12           11 non-null object
Unnamed: 13           11 non-null object
Unnamed: 14           11 non-null object
Unnamed: 15           11 non-null object
Unnamed: 16           11 non-null object
Unnamed: 17           11 non-null object
Unnamed: 18           11 non-null object
Unnamed: 19           11 non-null object
Unnamed: 20           11 non-null object
Unnamed: 21           11 non-null object
Unnamed: 22           11 non-null object
Unnamed: 23           11 non-null object
Unnamed: 24           11 non-null object
Unnamed: 25           11 non-null object
Unnamed: 26           11 non-null object
Unnamed: 27           11 non-null object
Unnamed: 28           11 non-null object
Unnamed: 29           11 non-null object
Unnamed: 30           11 non-null object
Unnamed: 31           11 non-null object
Unnamed: 32           11 non-null object
Unnamed: 33           11 non-null object
Unnamed: 34           11 non-null object
Unnamed: 35           11 non-null object
Unnamed: 36           11 non-null object
Unnamed: 37           11 non-null object
Unnamed: 38           11 non-null object
Unnamed: 39           11 non-null object
Unnamed: 40           11 non-null object
Unnamed: 41           11 non-null object
Unnamed: 42           11 non-null object
Unnamed: 43           11 non-null object
Unnamed: 44           11 non-null object
Unnamed: 45           11 non-null object
Unnamed: 46           11 non-null object
dtypes: int64(1), object(46)
memory usage: 21.1+ KB

In [ ]:
# What is going on with this data set? Anything unusual?
# First Answer: Columns and Rows are transposed
# Second Answer: Data doesn't start until line 47?

# Solution: 
# Comment: Dataframe is really two table views, one on top of the other. 
# The first is a summary view of the raw data below. 
# There is also a blank row at row 1 in the file.

In [40]:
# Solution #
df = pd.read_csv('Data/Zipcode_Demos.csv')

prev_count = 10**3
for row in df.index:
    count = 0
    for entry in df.iloc[row].isnull():
        if entry:
            count += 1
    if count != prev_count and row!=0:
        print('On row {} there are {} null values. The previous row had {} null values.'.format(row, count, prev_count))
    prev_count = count

# Import the first part of the data
df1 = pd.read_csv('Data/Zipcode_Demos.csv', skiprows=[1], nrows=45, usecols=[0, 1, 2])
df1

On row 1 there are 44 null values. The previous row had 45 null values.
On row 46 there are 0 null values. The previous row had 44 null values.

     0                   Average Statistics  Unnamed: 2
0    2                    JURISDICTION NAME   10005.800
1    3                   COUNT PARTICIPANTS       9.400
2    4                         COUNT FEMALE       4.800
3    5                       PERCENT FEMALE       0.404
4    6                           COUNT MALE       4.600
5    7                         PERCENT MALE       0.396
6    8                 COUNT GENDER UNKNOWN       0.000
7    9               PERCENT GENDER UNKNOWN       0.000
8   10                   COUNT GENDER TOTAL       9.400
9   11                 PERCENT GENDER TOTAL      80.000
10  12               COUNT PACIFIC ISLANDER       0.000
11  13             PERCENT PACIFIC ISLANDER       0.000
12  14                COUNT HISPANIC LATINO       2.000
13  15              PERCENT HISPANIC LATINO       0.105
14  16                COUNT AMERICAN INDIAN       0.000
15  17              PERCENT AMERICAN INDIAN       0.000
16  18             COUNT ASIAN NON HISPANIC       3.600
17  19           PERCENT ASIAN NON HISPANIC       0.437
18  20             COUNT WHITE NON HISPANIC       0.800
19  21           PERCENT WHITE NON HISPANIC       0.036
20  22             COUNT BLACK NON HISPANIC       2.600
21  23           PERCENT BLACK NON HISPANIC       0.181
22  24                COUNT OTHER ETHNICITY       0.400
23  25              PERCENT OTHER ETHNICITY       0.040
24  26              COUNT ETHNICITY UNKNOWN       0.000
25  27            PERCENT ETHNICITY UNKNOWN       0.000
26  28                COUNT ETHNICITY TOTAL       9.400
27  29              PERCENT ETHNICITY TOTAL      79.900
28  30       COUNT PERMANENT RESIDENT ALIEN       0.500
29  31     PERCENT PERMANENT RESIDENT ALIEN       0.061
30  32                     COUNT US CITIZEN       8.900
31  33                   PERCENT US CITIZEN       0.739
32  34           COUNT OTHER CITIZEN STATUS       0.000
33  35         PERCENT OTHER CITIZEN STATUS       0.000
34  36         COUNT CITIZEN STATUS UNKNOWN       0.000
35  37       PERCENT CITIZEN STATUS UNKNOWN       0.000
36  38           COUNT CITIZEN STATUS TOTAL       9.400
37  39         PERCENT CITIZEN STATUS TOTAL      80.000
38  40     COUNT RECEIVES PUBLIC ASSISTANCE       2.300
39  41   PERCENT RECEIVES PUBLIC ASSISTANCE       0.151
40  42    COUNT NRECEIVES PUBLIC ASSISTANCE       7.100
41  43  PERCENT NRECEIVES PUBLIC ASSISTANCE       0.649
42  44      COUNT PUBLIC ASSISTANCE UNKNOWN       0.000
43  45    PERCENT PUBLIC ASSISTANCE UNKNOWN       0.000
44  46        COUNT PUBLIC ASSISTANCE TOTAL       9.400

In [48]:
# Clean up the dataset
df_clean = pd.read_csv('Data/Zipcode_Demos.csv', header=47)
df_clean = df_clean.drop(columns=['47'])
df_clean
# df.info()

,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,PERCENT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
0,10001,44,22,0.50,22,0.50,0,0,44,100,...,44,100,20,0.45,24,0.55,0,0,44,100
1,10002,35,19,0.54,16,0.46,0,0,35,100,...,35,100,2,0.06,33,0.94,0,0,35,100
2,10003,1,1,1.00,0,0.00,0,0,1,100,...,1,100,0,0.00,1,1.00,0,0,1,100
3,10004,0,0,0.00,0,0.00,0,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0
4,10005,2,2,1.00,0,0.00,0,0,2,100,...,2,100,0,0.00,2,1.00,0,0,2,100
5,10006,6,2,0.33,4,0.67,0,0,6,100,...,6,100,0,0.00,6,1.00,0,0,6,100
6,10007,1,0,0.00,1,1.00,0,0,1,100,...,1,100,1,1.00,0,0.00,0,0,1,100
7,10009,2,0,0.00,2,1.00,0,0,2,100,...,2,100,0,0.00,2,1.00,0,0,2,100
8,10010,0,0,0.00,0,0.00,0,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0
9,10011,3,2,0.67,1,0.33,0,0,3,100,...,3,100,0,0.00,3,1.00,0,0,3,100

## Level Up (Optional) - Loading Corrupt CSV files

Occasionally, you encounter some really ill-formatted data. One example of this can be data that has strings containing commas in a csv file. Under the standard protocol, when this occurs, one is supposed to use quotes to differentiate between the commas denoting fields and the commas within those fields themselves. For example, we could have a table like this:  

`ReviewerID,Rating,N_reviews,Review,VenueID
123456,4,137,This restaurant was pretty good, we had a great time.,98765`

Which should be saved like this if it were a csv (to avoid confusion with the commas in the Review text):
`"ReviewerID","Rating","N_reviews","Review","VenueID"
"123456","4","137","This restaurant was pretty good, we had a great time.","98765"`

Attempt to import the corrupt file, or at least a small preview of it. It is appropriately titled `'Yelp_Reviews_corrupt.csv'`. Investigate some of the intricacies of skipping rows to then pass over this error and comment on what you think is going on.

In [56]:
# Hint: Here's a useful programming pattern to use
# try:
#     df_corrupt = pd.read_csv('Data/Yelp_Reviews_corrupt.csv')
# except Exception as e:
#     print(e)
df_corrupt = pd.read_csv('Data/Yelp_Reviews_corrupt.csv', error_bad_lines=False)
df_corrupt.head()

b'Skipping line 2331: expected 10 fields, saw 11\nSkipping line 2340: expected 10 fields, saw 12\nSkipping line 2341: expected 10 fields, saw 13\nSkipping line 2343: expected 10 fields, saw 18\nSkipping line 2349: expected 10 fields, saw 12\nSkipping line 2350: expected 10 fields, saw 16\nSkipping line 2352: expected 10 fields, saw 12\nSkipping line 2358: expected 10 fields, saw 13\nSkipping line 2359: expected 10 fields, saw 11\nSkipping line 2379: expected 10 fields, saw 11\nSkipping line 2381: expected 10 fields, saw 12\nSkipping line 2382: expected 10 fields, saw 12\nSkipping line 2384: expected 10 fields, saw 11\nSkipping line 2386: expected 10 fields, saw 12\nSkipping line 2388: expected 10 fields, saw 12\nSkipping line 2389: expected 10 fields, saw 13\nSkipping line 2392: expected 10 fields, saw 15\nSkipping line 2393: expected 10 fields, saw 18\nSkipping line 2394: expected 10 fields, saw 15\nSkipping line 2407: expected 10 fields, saw 12\nSkipping line 2427: expected 10 fields, saw 11\nSkipping line 2430: expected 10 fields, saw 12\nSkipping line 2438: expected 10 fields, saw 17\nSkipping line 2439: expected 10 fields, saw 11\nSkipping line 2440: expected 10 fields, saw 11\nSkipping line 2441: expected 10 fields, saw 11\nSkipping line 2442: expected 10 fields, saw 12\nSkipping line 2445: expected 10 fields, saw 13\nSkipping line 2446: expected 10 fields, saw 12\nSkipping line 2473: expected 10 fields, saw 13\nSkipping line 2474: expected 10 fields, saw 11\nSkipping line 2475: expected 10 fields, saw 12\nSkipping line 2485: expected 10 fields, saw 12\nSkipping line 2487: expected 10 fields, saw 15\nSkipping line 2488: expected 10 fields, saw 11\nSkipping line 2496: expected 10 fields, saw 20\nSkipping line 2504: expected 10 fields, saw 13\nSkipping line 2505: expected 10 fields, saw 13\nSkipping line 2507: expected 10 fields, saw 11\nSkipping line 2521: expected 10 fields, saw 15\nSkipping line 2522: expected 10 fields, saw 12\nSkipping line 2525: expected 10 fields, saw 13\nSkipping line 2533: expected 10 fields, saw 12\nSkipping line 2548: expected 10 fields, saw 11\nSkipping line 2561: expected 10 fields, saw 14\nSkipping line 2563: expected 10 fields, saw 15\nSkipping line 2564: expected 10 fields, saw 15\nSkipping line 2565: expected 10 fields, saw 11\nSkipping line 2571: expected 10 fields, saw 13\nSkipping line 2574: expected 10 fields, saw 20\nSkipping line 2575: expected 10 fields, saw 14\nSkipping line 2577: expected 10 fields, saw 12\nSkipping line 2583: expected 10 fields, saw 12\nSkipping line 2584: expected 10 fields, saw 13\nSkipping line 2621: expected 10 fields, saw 15\nSkipping line 2622: expected 10 fields, saw 12\nSkipping line 2631: expected 10 fields, saw 13\nSkipping line 2632: expected 10 fields, saw 12\nSkipping line 2633: expected 10 fields, saw 12\nSkipping line 2636: expected 10 fields, saw 11\nSkipping line 2640: expected 10 fields, saw 11\nSkipping line 2641: expected 10 fields, saw 11\nSkipping line 2674: expected 10 fields, saw 11\nSkipping line 2676: expected 10 fields, saw 16\nSkipping line 2706: expected 10 fields, saw 14\nSkipping line 2708: expected 10 fields, saw 12\nSkipping line 2712: expected 10 fields, saw 17\nSkipping line 2714: expected 10 fields, saw 13\nSkipping line 2715: expected 10 fields, saw 13\nSkipping line 2737: expected 10 fields, saw 11\nSkipping line 2746: expected 10 fields, saw 11\nSkipping line 2752: expected 10 fields, saw 11\nSkipping line 2753: expected 10 fields, saw 15\nSkipping line 2754: expected 10 fields, saw 11\nSkipping line 2758: expected 10 fields, saw 15\nSkipping line 2761: expected 10 fields, saw 12\nSkipping line 2762: expected 10 fields, saw 23\nSkipping line 2767: expected 10 fields, saw 11\nSkipping line 2769: expected 10 fields, saw 13\nSkipping line 2771: expected 10 fields, saw 11\nSkipping line 2785: expected 10 fields, saw 14\nSkipping line 2787: expected 10 fields, saw 12\nSkipping line 2810: expected 10 fields, saw 19\nSkipping line 2817: expected 10 fields, saw 11\nSkipping line 2831: expected 10 fields, saw 11\nSkipping line 2835: expected 10 fields, saw 13\nSkipping line 2837: expected 10 fields, saw 25\nSkipping line 2841: expected 10 fields, saw 13\nSkipping line 2842: expected 10 fields, saw 11\nSkipping line 2848: expected 10 fields, saw 11\nSkipping line 2885: expected 10 fields, saw 13\nSkipping line 2901: expected 10 fields, saw 11\nSkipping line 2902: expected 10 fields, saw 12\nSkipping line 2903: expected 10 fields, saw 11\nSkipping line 2922: expected 10 fields, saw 11\nSkipping line 2923: expected 10 fields, saw 12\nSkipping line 2924: expected 10 fields, saw 11\nSkipping line 2931: expected 10 fields, saw 12\nSkipping line 2940: expected 10 fields, saw 11\nSkipping line 2955: expected 10 fields, saw 17\nSkipping line 2958: expected 10 fields, saw 11\nSkipping line 2971: expected 10 fields, saw 12\nSkipping line 2972: expected 10 fields, saw 11\nSkipping line 2995: expected 10 fields, saw 12\nSkipping line 2998: expected 10 fields, saw 13\nSkipping line 2999: expected 10 fields, saw 14\nSkipping line 3007: expected 10 fields, saw 16\nSkipping line 3019: expected 10 fields, saw 11\nSkipping line 3035: expected 10 fields, saw 11\nSkipping line 3064: expected 10 fields, saw 11\nSkipping line 3066: expected 10 fields, saw 19\nSkipping line 3069: expected 10 fields, saw 11\nSkipping line 3079: expected 10 fields, saw 13\nSkipping line 3080: expected 10 fields, saw 12\nSkipping line 3086: expected 10 fields, saw 17\nSkipping line 3092: expected 10 fields, saw 11\nSkipping line 3106: expected 10 fields, saw 11\nSkipping line 3117: expected 10 fields, saw 12\nSkipping line 3120: expected 10 fields, saw 11\nSkipping line 3122: expected 10 fields, saw 16\nSkipping line 3125: expected 10 fields, saw 29\nSkipping line 3126: expected 10 fields, saw 11\nSkipping line 3127: expected 10 fields, saw 14\nSkipping line 3152: expected 10 fields, saw 12\nSkipping line 3159: expected 10 fields, saw 24\nSkipping line 3169: expected 10 fields, saw 15\nSkipping line 3221: expected 10 fields, saw 14\nSkipping line 3234: expected 10 fields, saw 13\nSkipping line 3235: expected 10 fields, saw 12\nSkipping line 3253: expected 10 fields, saw 11\nSkipping line 3257: expected 10 fields, saw 13\nSkipping line 3274: expected 10 fields, saw 12\nSkipping line 3283: expected 10 fields, saw 12\nSkipping line 3288: expected 10 fields, saw 11\nSkipping line 3289: expected 10 fields, saw 14\nSkipping line 3290: expected 10 fields, saw 15\nSkipping line 3308: expected 10 fields, saw 11\nSkipping line 3309: expected 10 fields, saw 13\nSkipping line 3310: expected 10 fields, saw 13\nSkipping line 3325: expected 10 fields, saw 13\nSkipping line 3329: expected 10 fields, saw 11\nSkipping line 3338: expected 10 fields, saw 17\nSkipping line 3339: expected 10 fields, saw 11\nSkipping line 3344: expected 10 fields, saw 15\nSkipping line 3350: expected 10 fields, saw 11\nSkipping line 3361: expected 10 fields, saw 15\nSkipping line 3362: expected 10 fields, saw 11\nSkipping line 3375: expected 10 fields, saw 13\nSkipping line 3376: expected 10 fields, saw 12\nSkipping line 3377: expected 10 fields, saw 12\nSkipping line 3378: expected 10 fields, saw 16\nSkipping line 3384: expected 10 fields, saw 14\nSkipping line 3385: expected 10 fields, saw 17\nSkipping line 3386: expected 10 fields, saw 11\nSkipping line 3403: expected 10 fields, saw 14\nSkipping line 3404: expected 10 fields, saw 13\nSkipping line 3405: expected 10 fields, saw 18\nSkipping line 3413: expected 10 fields, saw 16\nSkipping line 3414: expected 10 fields, saw 13\nSkipping line 3422: expected 10 fields, saw 11\nSkipping line 3423: expected 10 fields, saw 13\nSkipping line 3435: expected 10 fields, saw 13\nSkipping line 3437: expected 10 fields, saw 14\nSkipping line 3438: expected 10 fields, saw 13\nSkipping line 3439: expected 10 fields, saw 11\nSkipping line 3442: expected 10 fields, saw 11\nSkipping line 3443: expected 10 fields, saw 11\nSkipping line 3467: expected 10 fields, saw 12\nSkipping line 3468: expected 10 fields, saw 29\nSkipping line 3470: expected 10 fields, saw 12\nSkipping line 3471: expected 10 fields, saw 24\nSkipping line 3474: expected 10 fields, saw 17\nSkipping line 3475: expected 10 fields, saw 11\nSkipping line 3476: expected 10 fields, saw 12\nSkipping line 3478: expected 10 fields, saw 14\nSkipping line 3479: expected 10 fields, saw 17\nSkipping line 3480: expected 10 fields, saw 11\nSkipping line 3498: expected 10 fields, saw 15\nSkipping line 3512: expected 10 fields, saw 16\nSkipping line 3513: expected 10 fields, saw 13\nSkipping line 3514: expected 10 fields, saw 13\nSkipping line 3515: expected 10 fields, saw 12\nSkipping line 3516: expected 10 fields, saw 14\nSkipping line 3519: expected 10 fields, saw 15\nSkipping line 3521: expected 10 fields, saw 13\nSkipping line 3522: expected 10 fields, saw 17\nSkipping line 3523: expected 10 fields, saw 11\nSkipping line 3529: expected 10 fields, saw 12\nSkipping line 3530: expected 10 fields, saw 23\nSkipping line 3531: expected 10 fields, saw 13\nSkipping line 3532: expected 10 fields, saw 12\nSkipping line 3537: expected 10 fields, saw 13\nSkipping line 3538: expected 10 fields, saw 26\nSkipping line 3540: expected 10 fields, saw 12\nSkipping line 3559: expected 10 fields, saw 13\nSkipping line 3561: expected 10 fields, saw 11\nSkipping line 3565: expected 10 fields, saw 12\nSkipping line 3566: expected 10 fields, saw 25\nSkipping line 3567: expected 10 fields, saw 11\nSkipping line 3568: expected 10 fields, saw 21\nSkipping line 3591: expected 10 fields, saw 12\nSkipping line 3592: expected 10 fields, saw 12\nSkipping line 3595: expected 10 fields, saw 14\nSkipping line 3615: expected 10 fields, saw 12\nSkipping line 3627: expected 10 fields, saw 12\nSkipping line 3634: expected 10 fields, saw 17\nSkipping line 3641: expected 10 fields, saw 11\nSkipping line 3652: expected 10 fields, saw 12\nSkipping line 3653: expected 10 fields, saw 13\nSkipping line 3656: expected 10 fields, saw 15\nSkipping line 3657: expected 10 fields, saw 12\nSkipping line 3658: expected 10 fields, saw 22\nSkipping line 3672: expected 10 fields, saw 11\nSkipping line 3713: expected 10 fields, saw 19\nSkipping line 3723: expected 10 fields, saw 11\nSkipping line 3725: expected 10 fields, saw 13\nSkipping line 3726: expected 10 fields, saw 14\nSkipping line 3728: expected 10 fields, saw 12\nSkipping line 3733: expected 10 fields, saw 14\nSkipping line 3734: expected 10 fields, saw 12\nSkipping line 3735: expected 10 fields, saw 15\nSkipping line 3740: expected 10 fields, saw 11\nSkipping line 3749: expected 10 fields, saw 12\nSkipping line 3755: expected 10 fields, saw 11\nSkipping line 3756: expected 10 fields, saw 12\nSkipping line 3762: expected 10 fields, saw 11\nSkipping line 3768: expected 10 fields, saw 13\nSkipping line 3776: expected 10 fields, saw 12\nSkipping line 3797: expected 10 fields, saw 11\nSkipping line 3799: expected 10 fields, saw 11\nSkipping line 3805: expected 10 fields, saw 12\nSkipping line 3806: expected 10 fields, saw 12\nSkipping line 3833: expected 10 fields, saw 12\nSkipping line 3844: expected 10 fields, saw 22\nSkipping line 3845: expected 10 fields, saw 12\nSkipping line 3864: expected 10 fields, saw 19\nSkipping line 3877: expected 10 fields, saw 11\nSkipping line 3884: expected 10 fields, saw 13\nSkipping line 3887: expected 10 fields, saw 18\nSkipping line 3889: expected 10 fields, saw 11\nSkipping line 3903: expected 10 fields, saw 13\nSkipping line 3908: expected 10 fields, saw 12\nSkipping line 3917: expected 10 fields, saw 12\nSkipping line 3918: expected 10 fields, saw 12\nSkipping line 3919: expected 10 fields, saw 17\nSkipping line 3926: expected 10 fields, saw 13\nSkipping line 3927: expected 10 fields, saw 12\nSkipping line 3928: expected 10 fields, saw 11\nSkipping line 3946: expected 10 fields, saw 12\nSkipping line 3953: expected 10 fields, saw 12\nSkipping line 3954: expected 10 fields, saw 11\nSkipping line 3955: expected 10 fields, saw 11\nSkipping line 3956: expected 10 fields, saw 14\nSkipping line 3957: expected 10 fields, saw 11\nSkipping line 3959: expected 10 fields, saw 17\nSkipping line 3967: expected 10 fields, saw 16\nSkipping line 3975: expected 10 fields, saw 11\nSkipping line 3976: expected 10 fields, saw 12\nSkipping line 3981: expected 10 fields, saw 14\nSkipping line 3994: expected 10 fields, saw 14\nSkipping line 3997: expected 10 fields, saw 11\nSkipping line 4004: expected 10 fields, saw 11\nSkipping line 4014: expected 10 fields, saw 12\nSkipping line 4015: expected 10 fields, saw 12\nSkipping line 4020: expected 10 fields, saw 11\nSkipping line 4035: expected 10 fields, saw 11\nSkipping line 4041: expected 10 fields, saw 16\nSkipping line 4042: expected 10 fields, saw 12\nSkipping line 4050: expected 10 fields, saw 20\nSkipping line 4051: expected 10 fields, saw 11\nSkipping line 4052: expected 10 fields, saw 13\nSkipping line 4054: expected 10 fields, saw 11\nSkipping line 4055: expected 10 fields, saw 12\nSkipping line 4064: expected 10 fields, saw 11\nSkipping line 4066: expected 10 fields, saw 11\nSkipping line 4067: expected 10 fields, saw 14\nSkipping line 4068: expected 10 fields, saw 11\nSkipping line 4069: expected 10 fields, saw 11\nSkipping line 4070: expected 10 fields, saw 11\nSkipping line 4072: expected 10 fields, saw 11\nSkipping line 4090: expected 10 fields, saw 15\nSkipping line 4091: expected 10 fields, saw 14\nSkipping line 4107: expected 10 fields, saw 13\nSkipping line 4119: expected 10 fields, saw 13\nSkipping line 4120: expected 10 fields, saw 17\nSkipping line 4121: expected 10 fields, saw 11\nSkipping line 4122: expected 10 fields, saw 12\nSkipping line 4126: expected 10 fields, saw 12\nSkipping line 4127: expected 10 fields, saw 11\nSkipping line 4130: expected 10 fields, saw 18\nSkipping line 4131: expected 10 fields, saw 12\nSkipping line 4132: expected 10 fields, saw 12\nSkipping line 4138: expected 10 fields, saw 12\nSkipping line 4140: expected 10 fields, saw 12\nSkipping line 4170: expected 10 fields, saw 13\nSkipping line 4173: expected 10 fields, saw 17\nSkipping line 4180: expected 10 fields, saw 13\nSkipping line 4197: expected 10 fields, saw 13\nSkipping line 4214: expected 10 fields, saw 16\nSkipping line 4242: expected 10 fields, saw 17\nSkipping line 4249: expected 10 fields, saw 11\nSkipping line 4250: expected 10 fields, saw 22\nSkipping line 4257: expected 10 fields, saw 11\nSkipping line 4258: expected 10 fields, saw 11\nSkipping line 4259: expected 10 fields, saw 12\nSkipping line 4261: expected 10 fields, saw 13\nSkipping line 4267: expected 10 fields, saw 11\nSkipping line 4268: expected 10 fields, saw 14\nSkipping line 4277: expected 10 fields, saw 11\nSkipping line 4282: expected 10 fields, saw 20\nSkipping line 4283: expected 10 fields, saw 17\nSkipping line 4285: expected 10 fields, saw 14\nSkipping line 4286: expected 10 fields, saw 18\nSkipping line 4288: expected 10 fields, saw 11\nSkipping line 4305: expected 10 fields, saw 12\nSkipping line 4308: expected 10 fields, saw 15\nSkipping line 4310: expected 10 fields, saw 12\nSkipping line 4312: expected 10 fields, saw 12\nSkipping line 4313: expected 10 fields, saw 11\nSkipping line 4314: expected 10 fields, saw 12\nSkipping line 4324: expected 10 fields, saw 17\nSkipping line 4329: expected 10 fields, saw 12\nSkipping line 4330: expected 10 fields, saw 17\nSkipping line 4336: expected 10 fields, saw 12\nSkipping line 4352: expected 10 fields, saw 11\nSkipping line 4353: expected 10 fields, saw 13\nSkipping line 4375: expected 10 fields, saw 11\nSkipping line 4377: expected 10 fields, saw 12\nSkipping line 4378: expected 10 fields, saw 12\nSkipping line 4383: expected 10 fields, saw 11\nSkipping line 4409: expected 10 fields, saw 15\nSkipping line 4418: expected 10 fields, saw 11\nSkipping line 4419: expected 10 fields, saw 11\nSkipping line 4421: expected 10 fields, saw 13\nSkipping line 4443: expected 10 fields, saw 12\nSkipping line 4445: expected 10 fields, saw 13\nSkipping line 4450: expected 10 fields, saw 11\nSkipping line 4452: expected 10 fields, saw 12\nSkipping line 4455: expected 10 fields, saw 12\nSkipping line 4456: expected 10 fields, saw 11\nSkipping line 4464: expected 10 fields, saw 14\nSkipping line 4487: expected 10 fields, saw 12\nSkipping line 4494: expected 10 fields, saw 15\nSkipping line 4495: expected 10 fields, saw 13\nSkipping line 4503: expected 10 fields, saw 11\nSkipping line 4504: expected 10 fields, saw 11\nSkipping line 4505: expected 10 fields, saw 18\nSkipping line 4527: expected 10 fields, saw 12\nSkipping line 4563: expected 10 fields, saw 11\nSkipping line 4564: expected 10 fields, saw 24\nSkipping line 4565: expected 10 fields, saw 11\nSkipping line 4577: expected 10 fields, saw 12\nSkipping line 4578: expected 10 fields, saw 14\nSkipping line 4589: expected 10 fields, saw 13\nSkipping line 4605: expected 10 fields, saw 15\nSkipping line 4606: expected 10 fields, saw 12\nSkipping line 4607: expected 10 fields, saw 16\nSkipping line 4608: expected 10 fields, saw 19\nSkipping line 4609: expected 10 fields, saw 11\nSkipping line 4626: expected 10 fields, saw 11\nSkipping line 4632: expected 10 fields, saw 13\nSkipping line 4641: expected 10 fields, saw 13\nSkipping line 4658: expected 10 fields, saw 35\nSkipping line 4659: expected 10 fields, saw 12\nSkipping line 4660: expected 10 fields, saw 11\nSkipping line 4665: expected 10 fields, saw 11\nSkipping line 4670: expected 10 fields, saw 14\nSkipping line 4690: expected 10 fields, saw 11\nSkipping line 4695: expected 10 fields, saw 14\nSkipping line 4722: expected 10 fields, saw 13\nSkipping line 4729: expected 10 fields, saw 11\nSkipping line 4730: expected 10 fields, saw 12\nSkipping line 4741: expected 10 fields, saw 12\nSkipping line 4742: expected 10 fields, saw 11\nSkipping line 4764: expected 10 fields, saw 12\nSkipping line 4765: expected 10 fields, saw 13\nSkipping line 4775: expected 10 fields, saw 11\nSkipping line 4776: expected 10 fields, saw 11\nSkipping line 4777: expected 10 fields, saw 11\nSkipping line 4781: expected 10 fields, saw 28\nSkipping line 4782: expected 10 fields, saw 11\nSkipping line 4784: expected 10 fields, saw 11\nSkipping line 4786: expected 10 fields, saw 11\nSkipping line 4787: expected 10 fields, saw 20\nSkipping line 4788: expected 10 fields, saw 11\nSkipping line 4801: expected 10 fields, saw 11\nSkipping line 4802: expected 10 fields, saw 27\nSkipping line 4803: expected 10 fields, saw 11\nSkipping line 4804: expected 10 fields, saw 18\nSkipping line 4806: expected 10 fields, saw 12\nSkipping line 4808: expected 10 fields, saw 16\nSkipping line 4809: expected 10 fields, saw 11\nSkipping line 4825: expected 10 fields, saw 17\nSkipping line 4833: expected 10 fields, saw 11\nSkipping line 4839: expected 10 fields, saw 13\nSkipping line 4840: expected 10 fields, saw 12\nSkipping line 4854: expected 10 fields, saw 11\nSkipping line 4856: expected 10 fields, saw 19\nSkipping line 4859: expected 10 fields, saw 12\nSkipping line 4860: expected 10 fields, saw 11\nSkipping line 4861: expected 10 fields, saw 12\nSkipping line 4862: expected 10 fields, saw 12\nSkipping line 4863: expected 10 fields, saw 11\nSkipping line 4864: expected 10 fields, saw 14\nSkipping line 4865: expected 10 fields, saw 15\nSkipping line 4866: expected 10 fields, saw 11\nSkipping line 4870: expected 10 fields, saw 14\nSkipping line 4878: expected 10 fields, saw 12\nSkipping line 4880: expected 10 fields, saw 14\nSkipping line 4881: expected 10 fields, saw 12\nSkipping line 4891: expected 10 fields, saw 11\nSkipping line 4896: expected 10 fields, saw 11\nSkipping line 4897: expected 10 fields, saw 11\nSkipping line 4909: expected 10 fields, saw 14\nSkipping line 4911: expected 10 fields, saw 11\nSkipping line 4912: expected 10 fields, saw 12\nSkipping line 4918: expected 1

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g
3,5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g
4,10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg

In [55]:

for i in range(2000):
    try:
        df = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv', nrows=i)
    except:
        print('First failure at: {}'.format(i))
        break
df1 = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv', nrows=i-1)
print(len(df))
df1.head()

First failure at: 1962
1961

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0.0,dDl8zu1vWPdKGihJrwQbpw,5.0,I love this place! My fiance And I go here atl...,0.0,msQe1u7Z_XuqjGoqhB0J5g
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1.0,LZp4UX5zK3e-c5ZGSeo3kA,1.0,Terrible. Dry corn bread. Rib tips were all fa...,3.0,msQe1u7Z_XuqjGoqhB0J5g
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0.0,jsDu6QEJHbwP2Blom1PLCA,5.0,Delicious healthy food. The steak is amazing. ...,0.0,msQe1u7Z_XuqjGoqhB0J5g
3,5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0.0,pfavA0hr3nyqO61oupj-lA,1.0,This place sucks. The customer service is horr...,2.0,msQe1u7Z_XuqjGoqhB0J5g
4,10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0.0,STiFMww2z31siPY7BWNC2g,5.0,I have been an Emerald Club member for a numbe...,0.0,TlvV-xJhmh7LCwJYXkV-cg

## Summary

Congratulations, you now practiced your Pandas-importing skills!